@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');
*{
margin: 0;padding: 0;
}
body{
    display: flex;
background-color: #07000C;
padding-left: 20px;
padding-right: 20px;
padding-top: 35px;
padding-bottom: 35px;
}
.body{
background-color: #EE6461;
padding-left: 40px;
padding-right: 40px;
border-radius: 20px;
/* display: */
}
.nav{
display: flex;
justify-content: center;
align-items: center;
}
/* .navbar{ */
/* padding-left: 60vh; */
/* padding-right: 60vh; */
/* }  */
.nav ul{
    align-self: center;
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 45px;
    background-color: #07000C;
    color: white;
    border: 1px solid black;
    border-top-width: 4px;
    border-bottom-width: 1px;
    transform-origin: left bottom;
    transform: skewY(30deg);

    -webkit-transform: skewX(30deg);
}
.nav ul li{
padding-left: 30px;
padding-right: 30px;
}
.container{
display: inline-block;
}
.name {
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size: 300%;
color: #1e1e1e;
justify-self: left;
/* align-self: flex-start; */
}
/* .button{


} */
.text{
display: inline;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size: 400%;
font-weight: bolder;
}
.bg{
padding-top: 20px;
padding-bottom: 50px;
height: 450px;
width: 950px;
}
.iste{
display: flex;
transform: rotate(270deg);
color: white;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size: 100%;
justify-self: right;
max-height: 100px;
}